.cards{
    background-color: white;
    align-content: center;

    &__cardTitle{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        color: #d4145a;
    }
     
    &__cardText{
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
    }


    &__botonCartas{
        font-family: 'Lato', sans-serif;
        background: linear-gradient(-45deg, $coral, #f4a074, #2973b4, #104d82);
        background-size: 800% 400%;
        padding: 8px;
        display: inline-block;
        border: none;
        border-radius: 10px;
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        transition: all .5s ease-in-out;
        animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
     }

     &__botonCartas:hover{
        animation: gradient 3s infinite;
        transform: scale(1.05);
     }


     &__botonCartas:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
       }

    &__shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    }

    &__shadow:hover{
    box-shadow:  0 8px 16px 0 rgba(159, 0, 233, 0.4);
    transition: 0.3s;
    }
    
    &__cardContacto{
        background-color: rgb(255, 242, 248);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
    }

    &__cardKit{
        text-align: center;
    }

}


.botonContacto{
     @extend .cards__botonCartas;
     background-color: $coral;
}

.botonContacto:hover{
    background-color: #d4145a;
}


@mixin text-center {
    display: flex;
    text-align: center;
}

.producto{
    @include text-center;
}


$estilos: (
    color: #FFFFFF,
    pad: 1rem,
);

.tarjeta {
   background-color: map-get($estilos, color);
   padding: map-get($estilos, pad );
}

