.red{
    color: red;
}

.textForm{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.custom-select{
    font-family: 'Lato', sans-serif;
}

.custom-select:hover{
    background-color: rgb(70, 54, 212) ;
    color: white;
}