.categorias{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.aList{
    color: rgb(154, 94, 221);
    font-family: 'Lato', sans-serif;
}

.aList:hover{
    color: rgb(202, 10, 116);
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: $coral;
}